<div class="multi-nested">
  <%= f.input :complex_computational_method,
    as: :nested_computational_method,
    input_html: {
      class: '',
      data: {name: :complex_computational_method}
    },
    required: f.object.required?(:complex_computational_method)
  %>
  <button type="button" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="controls-add-text">Add another computational_method</span>
  </button>
</div>
