<div class="multi-nested">
  <%= f.input :complex_version,
    as: :nested_version,
    input_html: {
      class: '',
      data: {name: :complex_version}
    },
    required: f.object.required?(:complex_version)
  %>
  <button type="button" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="controls-add-text">Add another version</span>
  </button>
</div>
