<%= f.input :supervisor_approval,
  required: f.object.required?(key),
  as: :multi_value,
  hint: raw("Fill the name of your supervisor and the date of approval. Please add the application number of the NIMS Research Presentation Management System  (発表許可申請システムの申請番号） if you have already got the approval on the system. See <a href='https://gitlab.nims.go.jp' target='_blank' rel='noopener'>the User's Manual</a> for details.
<br />
e.g. Butsuzai, Taro 2019-09-30 2019A00xxxA"),
  input_html: {class: 'form-control'} %>
