<%= f.input :supervisor_approval, required: f.object.required?(key), hint: raw("Supervisor's name, approval date, and application number in NIMS Research Presentation Management System （発表許可申請システム） if available. See <a href='https://gitlab.nims.go.jp'>User Manual</a> for details.
<br />
e.g. Butsuzai, Taro 2019-09-30 2019A00xxxA") %>
