//-------------- colours ---------------
$mdr-grey: #F4F4F4;
$mdr-green-1: #AFCA0B;
$mdr-green-1-light: #BEEB7D;

//-------------- form css --------------
form .listing,
form .inner-listing {
  list-style: none;
}

form .row {
  padding-bottom: 5px;
}

form .field-wrapper:not(:last-child) {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid $mdr-green-1;
}

.multi-nested .form-group,
.multi-nested .listing {
  margin-bottom: 0px;
}

.multi-nested .btn {
  padding-top: 0px;
}

.multi-nested {
  margin-bottom: 1em;
  background-color: $mdr-grey;
  padding: 10px;
}

form .field-wrapper label[required="required"]::after {
  content: " *";
  color: red;
}

.nested-table,
.nested-table > tbody,
.nested-table > tbody > tr,
.nested-table > tbody > tr > th,
.nested-table > tbody > tr > td {
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding: 0px;
}

.nested-table > tbody > tr.end > th,
.nested-table > tbody > tr.end > td {
  padding-bottom: 10px;
}

.inner-listing {
  padding-left: 0px;
}

.inner-nested {
  margin-bottom: 1em;
  background-color: $mdr-green-1-light;
  padding: 10px;
}
//------------ display css -------------
.each_metadata:not(:last-child) {
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.label-row {
  color: #999;
}
//--------------------------------------
