//-------------- colours ---------------
$mdr-grey: #F4F4F4;
$mdr-green: #AFCA0B;
$mdr-green-light: #BEEB7D;

//-------------- form css --------------
form .listing,
form .inner-listing {
  list-style: none;
}

form .row {
  padding-bottom: 5px;
}

form .field-wrapper:not(:last-child) {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid $mdr-green;
}

.multi-nested .form-group,
.multi-nested .listing {
  margin-bottom: 0px;
}

.multi-nested .btn {
  padding-top: 0px;
}

.multi-nested {
  margin-bottom: 1em;
  background-color: $mdr-grey;
  padding: 10px;
}

form .field-wrapper label[required="required"]::after {
  content: " *";
  color: red;
}

.nested-table,
.nested-table > tbody,
.nested-table > tbody > tr,
.nested-table > tbody > tr > th,
.nested-table > tbody > tr > td {
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding: 0px;
}

.nested-table > tbody > tr.end > th,
.nested-table > tbody > tr.end > td {
  padding-bottom: 10px;
}

.inner-listing {
  padding-left: 0px;
}

.inner-nested {
  margin-bottom: 1em;
  padding: 10px;
  background-color: $mdr-green-light;
}

// thumbnail img in home page and search results
#recent_docs img,
.list-thumbnail img {
  max-height: 90px;
}

//------------ display css -------------
.each_metadata:not(:last-child) {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}
.label-row label {
  font-style: italic;
  font-weight: normal;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
//--------------------------------------

//------------ UNIVERSAL VIEWER (ported from Hyrax master) @todo remove on upgrade to Hyrax 3.x -------------

/* pad the top and bottom universal viewer*/
.viewer-wrapper {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
}

.viewer-wrapper iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

// Show various footer, header, left and right panels on larger screens only
@media only screen and (min-width: 640px) {
  .viewer-wrapper {
    height: 640px;
  }
}

//--------------------------------------

div#announcement {
  font-size: 1em;
  background-color: #1E2022;
}

.csv-preview-size {
  text-align: right;
}

// Hiding Relationships and Sharing tab contents from casual users
// https://github.com/antleaf/nims-mdr-development/issues/292 

#relationships > .form-tab-content::before {
  content: "Relationships settings are not available.";
}

#relationships > .form-tab-content > * {
  visibility: hidden;
}

#share > .form-tab-content > p,
#share > .form-tab-content > h2,
#share > .form-tab-content > fieldset {
  display: none;
}
