//----------- fonts to be used ---------
@font-face {
  font-family: "Galano Grotesque";
  src: font-url('GalanoGrotesqueBold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Galano Grotesque";
  src: font-url('GalanoGrotesqueLight.otf');
  font-weight: normal;
  font-style: normal;
}

//---------- colours to be used --------
$mdr-grey: #F4F4F4;
$mdr-black: #1E2022;
$mdr-green: #AFCA0B;
$mdr-green-light: #7DB928;
$mdr-green-dark: #51791A;

//-------------- Fonts -----------------
body {
  font-family: "Galano Grotesque";
  font-size: 14px;
  line-height: 1.428571429;
  color: $mdr-black;
}

//-------------- Headings --------------
h1, .h1 {
  font-family: "Galano Grotesque";
  font-size: 32px;
}

h2, .modal-title, .h2 {
  font-family: "Galano Grotesque";
  font-weight: bold;
  font-size: 18px;
  color: $mdr-black;
}

h3, .h3 {
  font-family: "Galano Grotesque";
  font-weight: bold;
  font-size: 14px;
  color: $mdr-black;
}

//------------- anchor -----------------
a, a:focus, a:hover, a:active {
  color: $mdr-green-dark;
}

// --------------- buttons -------------
.btn {
  border-radius: 0px;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover, .btn-primary:active,
 {
  background-color: $mdr-black;
  border-color: $mdr-black;
  color: $mdr-green;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0px;
}

.btn-default, .btn-default:focus, .btn-default:hover, .btn-default:active,
.btn-success, .btn-success:focus, .btn-success:hover, .btn-success:active {
  background-color: $mdr-black;
  border-color: $mdr-black;
  color: $mdr-green;
  text-transform: uppercase;
  border-radius: 0px;
}

a.btn-primary,
a.btn-primary:focus,
a.btn-primary:hover,
a.btn-primary:active {
  color: $mdr-green;
}

.glyphicon-search {
  color: $mdr-green;
}

.facets-toggle, td.toggle input[type="submit"] {
  border-radius: 0px;
}

// ------------- label -----------------
.label {
  background-color: inherit;
  border: none;
}

.label-primary {
  color: $mdr-green;
}

.label-success {
  color: $mdr-green;
}

.label-info {
  color: #2c76c7;
}

.label-warning {
    color: #e65c00;
}

.label-danger {
  color: #FF0000;
}

// ------------- dropdown --------------
#sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
  color: $mdr-green;
}

//-------------- Header ----------------

// .recent-field-fluid > .navbar-header, .recent-field-fluid > .navbar-collapse {
//    margin-top: 15px;
// }

#masthead {
  background-color: $mdr-black;
}

.navbar-inverse .navbar-nav > li.dropdown > a {
  color: $mdr-green;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: $mdr-green;
}

.navbar {
  min-height: 80px;
}

.navbar + .navbar {
  margin-top: 0px;
}

.navbar-brand {
  height: 80px;
}

.navbar-right {
  margin-top: 15px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #3c3c3c;
  font-weight: bold;
}

nav.searchbar {
  margin-bottom: 0px;
  background-color: $mdr-green-light;
}

.searchbar > .recent-field-fluid {
  margin-bottom: 0px;
}

.searchbar-left {
  padding-top: 15px;
}

.navbar-left {
  // margin-top: 15px;
  float: left !important;
}

#search-submit-header {
  color: white;
}

// ------------- footer ----------------
.site-footer {
  padding: 20px;
  background-color: $mdr-black;
  color: #fff;
}

.site-footer .navbar-nav {
  font-weight: bold;
}

// ------------- homepage -----------------
.homepage-icon {
  margin-top: 15px;
  margin-bottom: 15px;
}

.homepage-row {
  padding-bottom: 30px;
}

.homepage-row:first-child {
  padding-top: 30px;
}

.homepage-row:nth-child(odd) {
  background: $mdr-grey;
}

.homepage-row:nth-child(even) {
  background: #FFF;
}

.home-recently-uploaded,
.home-featured-works,
.home-featured-researcher {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.home-browse {
  text-transform: uppercase;
}

//--------------- dashboard -----------
body.dashboard {
  padding-top: 80px;
}

//--------------- work show ------------
.work-type-tag {
  color: $mdr-green;
}

//-------------- Search ----------------
.facet-field-heading {
  font-weight: normal;
  font-size: 14px;
}

.facet_select {
  color: $mdr-black;
}

.facet-values li .selected {
  color: #FF0000;
}

.facet-values .remove {
  color: #FF0000;
}
