
<%# Only show the download all button if there are available file_sets, and the total size is > 0 and < 100Mb %>
<% file_set_ids = available_file_set_ids(presenter, current_ability)%>
<% if presenter.member_presenters.length > 0 && file_set_ids.size > 0 %>
  <% if within_file_size_threshold?(file_set_ids) %>
    <div class="download-all">
      <%= link_to t(:'hyrax.download_all'),
        main_app.download_all_path(presenter.id, format: :zip),
        id: "download-all",
        class: "btn btn-default",
        target: "_new"
        %>
    </div>
  <% end %>
<% end %>
