<h1>Contact</h1>

<p>For inquiries about MDR, open the following form and select <strong>"Service: Materials Data Repository(MDR)"</strong>.</p>

<ul>
  <li><a href="https://dice.nims.go.jp/en/contact/form.html" target="_blank" rel="noopener"><strong>Materials Data Platform DICE Contact Form</strong></a></li>
</ul>

<p><%= link_to "See the Help page", hyrax.help_path %> for additional information about MDR.</p>
