<footer class="navbar site-footer">
  <div class="row">
    <div class="col-sm-6 text-left">
        <p><%= t('hyrax.footer.address_html') %></p>
    </div>
    <div class="col-sm-6 text-right">
      <p><%= t('hyrax.footer.copyright_html') %></p>
    </div>
  </div>
</footer>
