User activity log is disabled.

<table id="activity" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>User Activity</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
